<% provide(:title, "Help") %>
<div class="static_page">
<h1>Help</h1>
<p class="center">
  Pickel is built upon <a href="http://www.railstutorial.org/#help">Ruby on Rails</a>.
  Another useful resource to learn Ruby on Rails is the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a> book.
</p>
</div>