<% provide(:title, "Home") %>
<div class="center jumbotron">
  <%= link_to image_tag("pickle.png", alt: "Pickel logo"), root_path %>

  <div class="static_page">
    <h2>
      Pickel is a web app that enables you to elegantly pick courses to study. We offer features such as quick search by
      title, professor or year, and efficient administer management.
    </h2>
  </div>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary btn-important" %>
</div>