<div class="jumbotron home-tron-search well" style="">
  <div class="container">
    <div class="col-sm-12">
      <br>

      <h1 class="center">Search for courses</h1>
      <br>

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <%= form_for(:query, url: search_path, method: :get) do |f| %>
                <div class="input-group">
                  <%= f.text_field :query_str, class: 'form-control col-sm-6', placeholder: "Algorithm, Web Programming" %>
                  <div class="input-group-addon">
                    <%= f.submit "search", class: "btn btn-primary", style: "color:white; text-transform:uppercase;" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>